{{- define "main" }}

<article class="post-single">
  <div class="back-home">
    <a href="{{ "" | absURL }}"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" style="vertical-align:middle;margin-right:7px"><line x1="19" y1="12" x2="5" y2="12"></line><polyline points="12 19 5 12 12 5"></polyline></svg>All research</a>
  </div>

  <div class="post-head-panel">
    {{- $isHidden := (.Param "cover.hiddenInSingle") | default (.Param "cover.hidden") | default false }}
    {{- partial "cover.html" (dict "cxt" . "IsSingle" true "isHidden" $isHidden) }}
    <header class="post-header">
      <h1 class="post-title">{{ .Title }}</h1>
      {{- if .Description }}<div class="post-description">{{ .Description }}</div>{{ end }}
      {{- if not (.Param "hideMeta") }}
      <div class="post-meta">{{- partial "post_meta.html" . -}}</div>
      {{- end }}
    </header>
  </div>

  {{- if (.Param "ShowToc") }}{{ partial "toc.html" . }}{{ end }}

  {{- if .Content }}
  <div class="post-content">
    {{- if not (.Param "disableAnchoredHeadings") }}
    {{- partial "anchored_headings.html" .Content -}}
    {{- else }}{{ .Content }}{{ end }}
  </div>
  {{- end }}

  <footer class="post-footer">
    {{- if (.Param "ShowPostNavLinks") }}{{ partial "post_nav_links.html" . }}{{ end }}
  </footer>
</article>

{{- end }}{{/* end main */}}
